@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:wght@100;300;400;500;700;900&family=Yellowtail&family=Open+Sans:wght@300..800&display=swap");


:root {
  --mainTextColor: #274c5b;
  --secondaryTextColor: #7eb693;
  --lightText: #ffffff;
  --simpleText: #525c60;
  --blueBackground: #274c5b;
  --yellowBackground: #efd372;
  --lightGreenBackground: #f1f8f4;
  --whiteBackground: #ffffff;
  --lightBackground: #f9f8f8;
}
* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--whiteBackground);
  overflow-x: hidden;
 width: 100%;
 height: 100%;
 margin: 0;
 padding: 0;
}
.headerCont{
 min-width: 90%;
}
.formSearch{
  width: 23rem;
}
.mainText,
.mainTitle,
.secondText,
.cartTitle {
  color: var(--mainTextColor);
}
.mainTitle {
  font-size: 2.37rem;
}
.logoImg {
  width: 2.31rem;
  height: 3.56rem;
}
.searchBtn {
  /* background: #FAFAFA; */
  background-color: var(--secondaryTextColor);
  margin-right: -0.5rem;
  border: none;
}
#basket {
  padding: 0.55rem 1rem;
  font-size: 1rem;
}

#basket,
.iconWrap,
.abovBtn,
.cartBtnIcon,
.checkBtn,
.loadBtn {
  background-color: var(--blueBackground);

}
.navbar{
max-width: 100%;
}
.nav-link{
  display: flex !important;
}
#search{
  background: #E0E0E0;
}
.cartBtnWrap{
display: flex;
flex-direction: row;
align-items: center;
}
.cartBtn {
  /* display: flex;
  flex-direction: row;
  align-items: center; */
  border: 0.1rem solid #e0e0e0;
}
.descBlock {
  position: relative;
  overflow: hidden;
}
.descImage {
  max-width: 100%;
  max-height: 56rem;
}
.titleHeading {
  display: flex;
  flex-direction: column;
  position: absolute;
  transform: translateX(29%);
  top: 25%;
}
.descSecondTitle {
  color: var(--mainTextColor);
  font-size: 4.3rem;
  font-weight: 800;
  padding: 0.5rem 0 1.5rem;
}
.descBtn {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: row;
  width: 36%;
  padding: 1.75rem 2.43rem;
  background-color: var(--yellowBackground);
  color: var(--mainTextColor);
  font-size: 1.25rem;
  font-weight: 700;
  z-index: 1;
}
.descBtn:hover,
.abovBtn:hover,
.blogBtn:hover,
.checkBtn:hover,
.loadBtn:hover,
.thirdBtn:hover,
.vegBtn:hover  {
  opacity: 0.85;
  cursor: pointer;
}
.descVector1, .descVector2, .descVector3, .descVector4, .descVector5, .descVector6, .descVector7, .descVector8{
  position: absolute;
}
.descVector1 {
  width: 10%;
  height: 21%;
  top: 0.5%;
}
.descVector2 {
  width: 5%;
  height: 10%;
  top: 20%;
  left: 9%;
}
.descVector3 {
 width: 21%;
 height: 55%;
  bottom: -22%;
  left: -8%;
}
.descVector4 {
  width: 11%;
  height: 20%;
  top: 3%;
  left: 41%;
}
.descVector5 {
  width: 7.35%;
  height: 12.5%;
  top: 3%;
  right: 10%;
}
.descVector6 {
  width: 14.6%;
  height: 30.8%;
  top: -2%;
  right: -5%;
}
.descVector7 {
  width: 9.3%;
  height: 21.5%;
  bottom: 0;
  right: 0;
}
.descVector8 {
  width: 3%;
  height: 13%;
  bottom: 0;
  right: 4%;
}

.imagesBlock {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 9.6rem auto 11rem auto;
}
.leftPartImage,
.rightPartImage {
  max-width: 100%;
  position: relative;
}

.leftPartText {
  font-family: Yellowtail, cursive;
  position: absolute;
  top: 20%;
  transform: translateX(67%);
  z-index: 3;
}
.imagesBlock p {
  position: absolute;
  top: 35%;
  font-size: 2.5rem;
  z-index: 4;
}
.leftPart p {
  left: 4%;
}
.rightPartText {
  font-family: Yellowtail, cursive;
  position: absolute;
  color: var(--secondaryTextColor);
  top: 20%;
  transform: translateX(100%);
  z-index: 4;
}
.rightPart p {
  color: var(--mainTextColor);
  left: 52%;
}
.aboutBlock {
  width: 100%;
  position: relative;
}
.aboutBackgr {
  width: 100%;
  margin-left: 0;
}
.textBlock{
  /* width: 36%; */
  position: absolute;
  top: 20%;
  left: 50%;
}
.textTop {
  font-family: Yellowtail, cursive;
  color: var(--secondaryTextColor);
  font-size: 2.25rem;
  font-weight: 400;
}
.mainText,
.mainLightText {
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  font-weight: 800;
  margin: 0 0.5rem;
}
.mainLightText {
  color: var(--lightText);
}
.smallMainText {
  color: var(--blueBackground);
  font-size: 1.25rem;
  font-weight: 800;
}
.simpleText,
.simpleSecondText {
  font-family: "Open Sans", sans-serif;
  color: var(--simpleText);
  font-weight: 400;
  margin: 0 0.5rem;
}
.simpleText {
  font-size: 1.125rem;
}

.simpleSecondText {
  font-size: 0.98rem;
}
.aboutBanner {
  width: 100%;
  height: auto;
  display: block;
}
.pageBanner {
  width: 100vw;
  max-width: 100%;
  height: auto;
  display: block;
}
.abovBtn .icon {
  background-color: #335b6b;
}
.abovBtn,
.cartTitle {
  font-family: "Roboto", sans-serif;
  padding: 0.75rem 1.43rem 0.75rem 0.75rem;
  font-size: 1.125rem;
  font-weight: 700;
}
.disabledText {
  text-decoration: line-through;
}
.prodBlock {
  width: 100%;
  margin: 10rem auto;
}
.productList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin: 3rem auto;
}
.product {
  width: 24%;
  min-height: 36rem;
  box-shadow: 0 0.25rem 0.37rem #0000001a;
  transition: transform 0.2s, box-shadow 0.2s;
}
.cardBot {
  padding-top: 2rem;
  position: absolute;
  bottom: -1rem;
  left: 3rem;
}
.prodTag {
  font-family: "Open Sans", sans-serif;
  background-color: var(--blueBackground);
  color: var(--lightText);
  font-size: 0.93rem;
  font-weight: 600;
}
.prodDeck {
  font-family: "Roboto", sans-serif;
  position: absolute;
  bottom: 5rem;
  color: var(--mainTextColor);
  font-size: 1.25rem;
  font-weight: 600;
}
.product-price {
  font-family: "Open Sans", sans-serif;
  color: var(--mainTextColor);
  font-size: 1rem;
  font-weight: 700;
}
.loadBtn {
  padding: 1.75rem 3rem 1.75rem 2.87rem;
  margin: 7.6rem auto 12.4rem;
}
.backShoppingBtn {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  padding: 1rem 1.56rem;
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--lightText);
  background-color: var(--secondaryTextColor);
}
.revBack {
  width: 100%;
  margin: 12rem 0 0;
}
.textRev {
  position: absolute;
  top: 8%;
  transform: translateX(140%);
  z-index: 5;
}
.reviewsSlide {
  position: absolute;
  top: 27%;
  transform: translateX(77%);
  margin-bottom: 6.3rem;
}
.mySwiper {
  max-width: 48rem;
  position: absolute;
  top: 2rem;
  z-index: 10;
}
.customerImage {
  width:13%;
  border-radius: 50%;
  text-align: center;
  margin: 0 auto;
}
.revRating {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1rem;
}
.customerDescription,
.customerCategory {
  font-size: 1.12rem;
  font-weight: 600;
  text-align: center;
}
.customerName {
  font-size: 1.6rem;
  color: var(--mainTextColor);
  font-weight: 600;
  text-align: center;
}
.advantages {
  display: flex;
  flex-direction: row;
  max-width: 60%;
  position: absolute;
  top: 70%;
  transform: translateX(60%);
  z-index: 12;
  border-top: #e0e0e0 solid 0.1rem;
  margin-bottom: 10rem;
}
.advantages p {
  color: var(--mainTextColor);
  font-size: 1.125rem;
  font-weight: 600;
  white-space: nowrap;
}
.circle {
  width: 23%;
  border: 0.3rem solid;
  border-color: var(--secondaryTextColor);
  border-radius: 50%;
}
.vegitables {
  min-width: 100%;
  background-color: var(--blueBackground);
  margin: 0;
}
.vegContent {
  width: 80%;
  margin: 0 auto;
  padding-top: 12rem;
  padding-bottom: 3rem;
}
.vegBtn {
  font-family: "Roboto", sans-serif;
  background-color: var(--yellowBackground);
  color: var(--mainTextColor);
  padding: 1.75rem 2.43rem;
  font-size: 1.25rem;
  font-weight: 700;
  white-space: nowrap;
}
.faIconRight {
  background-color: #335b6b;
  padding: 0.4rem 0.5rem;
}
.cardBlock {
  width: 80%;
  /* width: 75%; */
  margin: 0 auto;
  padding-top: 4rem;
}
.productVegan {
  width: 30%;
  /* width: 19%; */
  font-size: 1.25rem;
}

.vegBtnTag {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  background-color: var(--blueBackground);
  font-size: 0.93rem;
  width: 75%;
}

.vegCardDeck {
  position: absolute;
  bottom: 2.56rem;
}
.vegPrice {
  color: var(--mainTextColor);
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  margin-right: 0.7rem;
}
.cardVegBot {
  position: absolute;
  bottom: 0;
  margin-left: 0.7rem;
}
.textSection {
  position: absolute;
  background-color: var(--whiteBackground);
  top: 7%;
  transform: translateX(100%);
  padding: 2.8rem 3.6rem;
  border-radius: 2rem;
}

.secondText {
  font-family: "Roboto", sans-serif;
  font-size: 1.56rem;
  font-weight: 500;
  padding: 1.8rem 0 0.43rem 0;
}
.cardWrap {
  position: relative;
}
.galleryImage {
max-width: 28rem;
 max-height: 28rem;
}
.galleryBlock {
  background-color: var(--lightGreenBackground);
  padding: 11.68rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.galleryBtn {
  position: absolute;
 top: 50%;
transform: translateX(-162%);
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--mainTextColor);
}
.blogBlock {
  margin: 1rem auto;
}
.cardBlogWrap {
  margin: 11rem auto;
}
.blogContent {
  max-width: 74%;
  margin: 11rem auto 3rem;
  padding: 0 1rem;
}
.blogTitle {
  font-weight: 800;
  font-size: 3.1rem;
  margin: 0;
}
.blogBtn {
  background-color: var(--whiteBackground);
  color: var(--mainTextColor);
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 1.75rem 3rem 1.75rem 2.87rem;
  border: 0.1rem solid #335b6b;
}
.userIcon {
  color: var(--yellowBackground);
}
.userName {
  color: var(--mainTextColor);
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
}
.blogSecondTitle,
.blogPageTag {
  color: var(--mainTextColor);
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 1.56rem;
  white-space: nowrap;
}
.blogSectionBtn {
  background-color: var(--yellowBackground);
  color: var(--mainTextColor);
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 1.75rem 2.9rem;
}
.blogImage {
  width: 42rem;
  height: 30rem;
}
.newsBlock {
  width: 100%;
 
}
.contentNews{
  width: 75%;
position: relative;
padding: 1.5rem;
margin: 1.5rem auto 7.31rem;
}
.newsBlock img{
  width: 100%;
}
.newsLetterContent {
  position: absolute;
  top: 33%;
  transform: translateX(10%);
}
.newsletterHeading {
  font-size: 3.5rem;
}
.emailInput {
  background: var(--lightBackground);
  padding: 1.75rem 10.85rem 1.93rem 1.43rem;
  border-radius: 1rem;
  color: var(--simpleText);
  border: none;
  margin: 2rem;
}
.newsSubmit {
  padding: 1.75rem;
  border-radius: 1rem;
  background-color: var(--blueBackground);
  color: var(--lightText);
  border: none;
  margin-left: 1rem;
}
.footerContent{
  margin: 0 3rem;
}
.footerTitle {
  font-family: "Roboto", sans-serif;
  font-size: 1.87rem;
  font-weight: 700;
}
.iconBack {
  background-color: var(--lightGreenBackground);
  border-radius: 50%;
  padding: 0.5rem 0.8rem;
  margin: 0.5rem;
}
.socIcon {
  color: var(--mainTextColor);
}
.footerBrend {
  width: 12rem;
  padding: 1rem;
  margin: 0 auto;
}
.contacts{
  padding: 3rem;
}
.contacts a,
p,
address,
.footLink {
  padding:1rem 0.25rem ;
  font-family: "Open Sans", sans-serif;
  font-size: 1.12rem;
  text-decoration: none;
  color: var(--simpleText);
}
.footLinksSection{
padding: 3rem;
}

.footerText {
  color: var(--simpleText);
}
.boltText,
.contacts p {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 1.12rem;
  margin: 0.25rem 0;
}
#footer {
  left: 0;
  width: 100%;
  margin: 2rem 0 0 0;
  padding: 1.25rem 0 0.63rem;
}

.secondBlock {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 4.25rem;
}
.secondImage {
  max-width: 100%;
  margin-left: 0;
  padding-top: 4.25rem;
}
.aboutIconWrap{
display: flex;
flex-direction: row;
justify-content: start;
margin: 3rem 3rem 0 0;
}
.secondText {
  font-family:  "Roboto", sans-serif;
  font-weight: 500;
  text-align: center;
  padding: 0.5rem 0;
  white-space: nowrap;
}
.textThirdSection{
width: 50%;
}
.thirdBlock {
  width: 100%;
  background-color: var(--lightBackground);
}
.thirdContent {
  padding: 11.8rem 14.25rem;
}
.thirdBtn {
  background-color: #ececec;
  width: 80%;
  padding: 1.8rem 5.68rem 1.8rem 1.68rem;
  margin: 2.25rem 0 0.75rem;
}
.dotIcon {
  color: var(--secondaryTextColor);
  font-family: 1.56rem;
}
.specification {
  width: 25%;
}

.thirdBottom {
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  gap: 2rem;
  margin: 5.68rem auto 7.81rem;
  width: 85%;
}
.fourthBottom{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}
.fourthContent {
  max-width: 80rem;
  padding: 9.3rem 0 2.6rem;
  margin: 0 auto;
}
.teamersCard {
  width: 28rem;
  background-color: var(--lightBackground);
  box-shadow: 0 0.25rem 0.37rem #0000001a;
  transition: transform 0.2s, box-shadow 0.2s;
  overflow: hidden;
}
.teamersCard h5 {
  font-size: 1.37rem;
}
.teamersCard :hover {
  background-color: var(--whiteBackground);
}
.fifthBlock {
  width: 100%;
  background-color: var(--blueBackground);
}
.fifthContent {
  padding: 11.75rem 0;
}
.cardWraper {
  max-width: 75%;
  margin: 2rem auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;

}
.fifthImage {
  width: 16.7rem;
  height: 16rem;
  background-color: var(--whiteBackground);
  border-radius: 10%;
}
.productDetailsCard{
  width: 100%;
 display: flex;
 flex-direction: row; 
 margin: 3rem 0;

}

.detImage {
  position: relative;
  overflow: hidden;
  width: 50%;
  height: auto;
  padding: 3rem;
  margin-top: 3rem;
  box-shadow: 0 0.25rem 0.37rem #0000001a;
  transition: transform 0.2s, box-shadow 0.2s;
}
.details{
  width: 50%;
  padding: 3rem 1.5rem;
  margin: 3rem;
}
.details h5 {
  font-weight: 600;

}
.detailsFirstBtn{
  width: 50%;
  margin: 0 1.5rem;
}
.detailsSecondBtn{
  width: 25%;
  padding: 1.5rem 0;
  margin: 1rem;
}
.detailsBtn {
  font-family: "Open Sans", sans-serif;
  font-size: 1.56rem;
  font-weight: 700;
  background-color: var(--lightGreenBackground);
  color: var(--mainTextColor);
  width: 25%;
  padding: 1.5rem 0;
}
.relatedProduct h3:first-child,
.servSecondHeading {
  font-family: "Roboto", sans-serif;
  color: var(--mainTextColor);
  font-weight: 800;
  font-size: 3.11rem;
  margin: 8.75rem auto 2.5rem;
  text-align: center;
}
.singleTagBtn {
  background-color: var(--blueBackground);
  color: var(--lightText);
  position: absolute;
  top: 2rem;
  left: 2rem;
}
.servHeadingTop {
  margin-top: 12.6rem;
}
.servSecondHeading {
  margin: 0.37rem auto 0;
}
.servSecondBlock{
  width: 100%;
  margin: 0 auto;
}
.servImage{
  width: 100%;
}
.servSecondLeftPart{
  padding: 3rem 0;
}
.servSecondBlock h4 {
  padding: 0.31rem 0;
  margin: 0;
}

.leftServCard {
  margin-left: 17rem;
}
.rightServCard {
  margin-right: 17rem;
}
.servBtn {
  border: var(--mainTextColor) 0.1rem solid;
}
.thirdServBlock {
  position: relative;
}
.thirdServBlock img {
  width: 100%;
  margin: 0;
}
.servButomn {
  position: absolute;
  top: 11rem;
  left: 40rem;
}
.circlePlay {
  margin-block-start: auto;
  font-size: 6rem;
}
.bannerTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4.3rem;
  font-weight: bold;
  color: var(--mainTextColor);
  text-align: center;
}

.qualityFirstBlock {
  margin: 5.25rem auto 8.18rem;
}
.qualityContent {
  margin: 0 auto;
}
.qualityContent img {
  max-width: 23.68rem;
  max-height: 15.75rem;
}
.qualityContent h4 {
  color: var(--mainTextColor);
}
.qualitySecondTitle {
  font-size: 2.18rem;
}
.qualityBtn {
  color: var(--mainTextColor);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 1.56rem;
  margin-left: 1.5rem;
}
.portfolioImgBlock {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 9.3rem 0 8.75rem;
}
.portfolioCard h2 {
  margin-top: 1.3rem;
}
.portfolioCard img {
  max-width: 90%;
  border-radius: 2rem;
}
.portfolioCard {
  width: 25%;
  margin-bottom: 2.68rem;
}
.portfolioCard h3 {
  font-size: 1.37rem;
  font-weight: 400;
}
.portfolioCard:hover .hoverOverlay {
  opacity: 1;
}
.hoverOverlay {
  background-color: rgba(252, 252, 252, 0.7);
  width: 93%;
  height: 80%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.btn-transparent {
  background: none;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlayContent {
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
}
.cardDescription {
  margin: 0 auto;
  width: 80%;
  border-radius: 2rem;
  top: -8rem;
  z-index: 10;
}
.cardDescription :last-child {
  background-color: var(--lightBackground);
}
.cardTitle {
  font-size: 4.3rem;
  font-weight: bold;
  color: var(--mainTextColor);
}
.textWrap {
  padding: 2rem 3rem;
  width: 60%;
}
.clientData {
  width: 40%;
  margin: auto auto;
  padding: 2.6rem 2.9rem;
}
.clientData,
strong {
  color: var(--mainTextColor);
  font-size: 1.5rem;
  margin-right: 1rem;
  text-align: start;
}
.clientData,
li {
  color: var(--simpleText);
}
.secondCardBlock {
  margin: 4.25rem auto;
  width: 54%;
}
.secondCardBlock h3 {
  font-size: 2.18rem;
}
.blogPageTag {
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 2rem 1rem;
  border-radius: 50%;
  white-space: wrap;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.textBlogBlock {
  background-color: var(--whiteBackground);
  position: absolute;
  width: 90%;
  bottom: -1.9rem;
  left: 2rem;
  padding: 2.8rem 3.56rem;
  box-shadow: 0 0.25rem 0.37rem #0000001a;
  transition: transform 0.2s, box-shadow 0.2s;
}
.textBlogBlock h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  color: var(--mainTextColor);
  margin: 0;
}
.imgFluid {
 width: 100vw;
  height: 46rem;
}
.blogPageUserIcon {
  font-size: 1.125rem;
  color: var(--secondaryTextColor);
}
.blogDetailsUser{
  font-weight: 700;
  margin-left: 2rem;
}
.blogDetails {
  padding: 4.7rem 5.1rem;
  top: -11rem;
  box-shadow: 0 0.25rem 0.37rem #0000001a;
  transition: transform 0.2s, box-shadow 0.2s;
}
.blogTitle {
  font-size: 3.3rem;
}
.blogList li {
  list-style: disc;
  padding: 1rem;
}
.secondBlogList li {
  list-style-type: decimal;
  padding: 1rem 0;
}
.blogTextCard {
  background-color: #f1edea;
}
.contactSecondBlock {
  width: 80%;
  margin: 13rem auto 7.5rem;
}
.firstSectionContact img {
  max-width: 30rem;
}

.firstRightPart {
  max-width: 70%;
  padding: 0 0 1rem;
}
.contactIcon {
  font-size: 2rem;
  border-radius: 1rem;
  background-color: #f4f4f4;
  margin-right: 1.18rem;
}
.contactCard {
  width: 100%;
  padding: 1rem 2.8rem 1rem 1rem;
  border-radius: 1rem;
  box-shadow: 0 0.25rem 0.37rem #0000001a;
  transition: transform 0.2s, box-shadow 0.2s;
  margin-bottom: 1.05rem;
}
.secondSectionContact {
  margin: 6.1rem auto 5rem auto;
  position: relative;
}
.secondSectionContact img {
  max-width: 100%;
  border-radius: 1rem;
}
.location {
  position: absolute;
  top: 13rem;
  right: 6rem;
  max-width: 45%;
  padding: 2.3rem 3.3rem;
  background-color: var(--lightBackground);
  border-radius: 1rem;
}
.location span,
h3 {
  font-weight: bold;
}
.location h3 {
  font-size: 3rem;
}
.thirdSectionContact {
  margin: 0 6.75rem;
  width: 75%;
}
.inputWrap {
  width: 48%;
}
.search {
  width: 100%;
  padding: 1.3rem 1rem;
}
#message {
  padding-bottom: 10rem;
}

.thirdSectionContact button {
  width: 13rem;
}
.form-label {
  color: var(--mainTextColor);
  font-weight: bolt;
}

.notFoundFirstImg {
  position: relative;
  width: 100%;
  padding-bottom: 7.25rem;
}
.notFoundText {
  position: absolute;
  top: 30%;
 left: 60%;
}
.notFoundText h4 {
  font-family: "Roboto", sans-serif;
  color: var(--mainTextColor);
  font-weight: 800;
  font-size: 4.3rem;
}
.notfoundBtn {
  position: absolute;
  bottom: -5rem;
  left: 0;
  background-color: var(--blueBackground);
  color: var(--lightText);
  text-decoration: none;
  padding: 1.75rem 2.8rem;
}
.garlicVector,
.leavesVector,
.forthVector,
.thirdVector {
  max-width: 5rem;
  position: absolute;
  z-index: 100;
}
.garlicVector {
  bottom: 3rem;
  left: 23rem;
  transform: rotate(72deg);
}
.leavesVector {
  top: 11rem;
  left: 36rem;
  transform: rotate(45deg);
}
.thirdVector {
  bottom: 32rem;
  left: 56rem;
  transform: rotate(72deg);
}
.forthVector {
  bottom: 25rem;
  left: 10rem;
  transform: rotate(-62deg);
}
/* 1439px */
@media screen and (max-width: 90rem){
  .simpleText,
  .contacts a,
  p,
  address,
  .footLink {
    font-size: small;
  }
  .formSearch{
    width: 15rem;
  }
  .secondText{
    margin-bottom: 0; 
  }
  .prodDeck,
  .disabledText,
  .vegPrice{
    font-size: 0.75rem;
  }
  .imagesBlock p,
  .imagesBlock h3 {
    font-size: 2rem;
  }
  .productList {
    width: 80%;
  }
  .prodBlock{
    margin-top: 15%;
  }
  .product{
    width: 33%;
  }
  .textBlock {
    top: 15%;
    left: 42%;
  }
  .productVegan{
  width: 23%;
}
  .aboutBackgr {
    width: 90%;
  }
  .textSection{
    top: 5%;
    transform: translateX(123%);
    padding: 1.8rem 2.5rem;
  }
  .newsBlock{
   max-width: 100%;
  }
  .contentNews{
    width: 75%;
    position: relative;
    padding: 1.5rem;
    margin: 1.5rem auto 7.31rem;
  }
  .newsBlock img{
   max-width: 100%;
 
  }
  .reviewsSlide{
    top: 20%;
    transform: translateX(40%);
  }
  .textRev{
    top: 4%;
    transform: translateX(85%);
  }

  .advantages {
    transform: translateX(40%);
  }
  .advantages p{
    font-size: 0.75rem;
  }
  .notFoundText{
    top: 25%;
    left: 60%;
  }
  .leavesVector {
    top: 23%;
    left: 29%;
  }
  .forthVector{
    bottom: 38%;
  }
  .garlicVector{
    bottom: -5%;
    left: 19%;
  }
  .thirdVector{
    bottom: 44%;
    left: 49%;
  }
  .thirdBottom h5{
    font-size: 1.125rem;
  }
  .fifthContent{
    margin-bottom: 5rem;
  }
  .servButomn{
    left: 25%;
  }
  .imgFluid{
    max-width: 100%;
  }
  .contentNews{
    width: 80%;
  }

  .newsletterHeading {
    padding-right:0;
    font-size: 2.5rem;
  }
  .newsLetterContent{
    transform: translateX(4%);
  }
  .galleryImage{
    width: 95%;
  }
  
  .location {
    top: 5%;
  }
  .detailsBtn{
    width: 40%;
  }
  .teamersCard{
    width: 35%;
  }
  .fourthBottom{
    width: 100%;
    margin: 0 auto;
  }

}
/* 1200px */
@media screen and (max-width: 75rem) {
  .descSecondTitle {
    font-size: 3rem;
  }
  .textBlock {
    top: 0;
  }
  .formSearch{
    width: 10rem;
  }
  .cartBtn {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    font-weight: normal;
  }
  .product{
    width: 40%;
  }
  .cardBlock {
    width: 85%;
    align-items: center;
  }
  .mainText{
    font-size: 1.5rem;
  }
  .imagesBlock p,
  .imagesBlock h3 {
    font-size: 2rem;
  }
  .textSection{
    top: 1%;
    padding: 1rem 2rem;
    transform: translateX(70%);
  }
  .textRev{
    transform: translateX(123%);
  }
  .reviewsSlide{
    transform: translateX(25%);
    top: 12%;
  }

  #footer {
    width: 100%;
    margin: 1.5rem 0 0 0;
  }
  .contentNews{
    width: 90%;
  }
  .newsletterHeading {
    font-size: 1.7rem;
    padding-right: 5rem;
  }
  .emailInput {
    padding: 1.3rem 8.85rem 1.3rem 1.1rem;
  }
  .newsSubmit {
    padding: 1.3rem;
  }
  .aboutBanner {
    height: 17rem;
  }
  .thirdBtn {
    width: 95%;
  }
  .thirdContent {
    padding: 6.8rem 14.25rem;
  }
  .contactCard {
    width: 100%;
    font-size: small;
    margin-bottom: 0.5rem;
  }
  .contactTitle {
    font-size: 1.56rem;
  }
  .location {
    padding: 1rem;
    top: 13rem;
    right: 1rem;
  }
  .textTop {
    font-size: 1.5rem;
  }
  .secondImageWrap{
    width: 50%;
  }
  .secondText{
    width: 60%;
  }
  .thirdContent{
    width: 100%;
    padding: 2% 9%;
  }
  .fourthBottom{
    flex-direction: column;
  }
  .fifthImage{
    width: 90%;
  }
  .location{
    top: 10%;
  }
  .notFoundImg {
    width: 70%;
  }
  .notFoundText {
    top: 20%;
    right: 10%;
  }
  .notFoundText h4 {
    font-size: 3.1rem;
  }
  .notfoundBtn {
    bottom: -6rem;
    padding: 1.5rem 2.5rem;
  }
  .garlicVector,
  .leavesVector,
  .forthVector,
  .thirdVector {
    display: none;
  }
  .productVegan {
    width: 90%;
  }
  .productVegan img{
    min-height: 10rem;
    max-height: 10rem;
  }

  .imgFluid {
    max-width: 100%;
  }

  .thirdServBlock img {
    max-width: 100%;
  }
  .servButomn {
    left: 20rem;
  }

}
/* 991px */
@media screen and (max-width: 62rem){
  .mainTitle{
    font-size: 2.5rem;
  }
  p{
    padding: 0.5rem 0.25rem;
    margin-bottom: 0;
  }
  .titleHeading{
    top: 15%;
  }
  .bannerTitle{
    font-size: 3.5rem;
  }
  .formSearch{
    width: 100%;
  }

   .imagesBlock p, 
   .imagesBlock h3,
   .footerTitle
   {
    font-size: 1.5rem;
   }
   .pageBanner{
    padding: 0;
   }
   .mainText,
   .blogSecondTitle{
    font-size: 1.25rem;
   }
   .secondText{
    font-size: 1.125rem;
   }
   .textBlock{
    width: 50%;
    top: -20%;
   }
   .customerName,
   .simpleSecondText{
    margin: 0;
   }
   .customerImage{
    width: 10%;
   }
   .descSecondTitle{
    padding: 0.5rem;
   }
   .descBtn,
   .abovBtn,
   .loadBtn
   {
    font-size: 1rem;
    padding: 1.25rem 0.75rem;
    width: 45%;
   }
   .loadBtn
   {
    width: 30%;
    margin: 5rem auto 7rem;
   }
   .vegBtn,
   .blogBtn,
   .blogSectionBtn,
   .abovBtn{
    padding: 1.5rem 2rem;
   }
   .teamersCard{
    width: 53%;
   }
  .cardTitle,
  .descSecondTitle,
  .servSecondHeading,
  .titleRelProd{
    font-size: 2.5rem;
  }
  .relatedProduct h3:first-child{
    font-size: 2.5rem;
  }
  .rating{
    font-size: 0.75rem;
  }
  .relatedProduct
  .textRev{
    transform: translateX(100%);
  }
  .reviewsSlide{
    transform: translateX(1%);
  }
  .product{
    width: 47%;
  }
  .detImage,
  .details{
    margin-top: 1%;
  }
  .details{
    padding: 2% 0.5%;
    margin: 1%;
  }
  .addedBlock button{
   display: flex;
   flex-direction: row;
   font-size: 0.5rem;
   padding: 0.5rem 0.75rem;
  }
  .abovBtn,
 .icon{
   font-size: 1rem;
   padding: 0.5rem;
  }
  .relatedProduct button{
    padding: 1% 2%;
    font-size: 1.125rem;
  }
  .textSection{
    top: 0;
    padding: 0.5rem 1rem;
   transform: translateX(50%);
  }
  .galleryBtn,
  .customerCategory{
    font-size: 1rem;
  }
  .contentNews{
    width: 96%;
  }
  .thirdContent{
    padding: 1% 2%;
  }
  .textThirdSection{
    width: 47%;
  }
  .thirdBottom{
    white-space: wrap;
    width: 96%;
  }
  .thirdBtn{
    padding: 1.5rem 2.5rem 1.5rem 0.5rem ;
  }
  .specification{
    width: 20%;
  }
  .specification p,
  .specification h5{
    white-space: wrap;
    text-align: center;
  }
  .secondText{
    width: 75%;
  }
  .emailInput {
       margin: 0;
    padding: 1.3rem 4.85rem 1.3rem 1.1rem;
}
  .imgFluid{
    height: 20rem;
  }
  .secondCardBlock{
    margin: 0 auto;
  }
  .blogTitle{
    white-space: wrap;
    width: 100%;
  }
  .servButomn{
    top: 15%;
    left: 20%;
  }
  .servHeadingTop{
    margin: 5%;
  }
  .notFoundText{
    top: 15%;
  }
  .notFoundText h4{
    font-size: 2.5rem;
  }
  .qualityBtn{
    font-size: 1rem;
  }
  .fifthImage{
    width: 100%;
  }
  .fifthContent{
    width: 98%;
  }
  .portfolioImgBlock{
    padding: 4% 0 0;
  }

}
/* 768px */
@media screen and (max-width: 48rem) {
  body{
    width: fit-content;
  }
  .d-flex {
    flex-direction: column;
    align-items: center;
  }
  .headerCont{
    min-width: 90%;
  }
  .formSearch{
    width: 100%;
  }
  .textBlock{
    width: 40%;
  }
  .prodBlock{
    margin-top: 25%;
  }
  .cartBtn {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  #basket {
    margin-left: 0;
    margin-right: 0;
  }
  .descBtn {
    width: 100%;
    margin-right: 0;
  }
  .descBtn,
  .abovBtn,
  .blogBtn,
  .loadBtn,
  .vegBtn,
  .blogSectionBtn {
    font-size: 0.75rem !important;
    padding: 0.75rem 1.43rem;
    white-space: nowrap;
    flex-direction: row;
  }
  .descImage{
    width: 100%;
  }
  .titleHeading {
    transform: translateX(5%);
    top: 20%;
  }
  .descTitle,
  .mainText {
    font-size: 1.5rem !important;
  }
  .descSecondTitle {
    font-size: 2rem !important;
  }
  .imagesBlock p,
  .imagesBlock h3 {
    font-size: 1rem;
  }
  .abovBtn{
    width: 50%;
  }
  .imagesBlock {
    width: 75%;
  }
  .product {
    width: 60%;
  }
  .advantages {
    display: none;
  }
.advantages p{
  font-size: 0.75rem;
}
.circle h3{
  font-size: 1.125rem;
}
  .reviewsSlide {
    top:10%;
    transform: translateX(2%);
}
  .textRev {
  transform: translateX(72%);
}
.secondText{
  font-size: 1rem;
}
.textSection{
  top: 5%;
  width: 60%;
}
.textSection p,
.textSection h3{
  padding: 0.25rem;
}
.vegContent h3{
text-align: center;
}
.galleryBtn{
  transform: translateX(-70%);
}
.blogImage{
  min-width: 90%;
}
.textBlogBlock{
  width: 90%;
}
.blogHeading :first-child{
  text-align: center;
}
.newsBlock img{
  width: 80%;
}
.productVegan{
  width: 50%;
}
.productVegan img{
  min-height: 18rem;
}
  .newsBlock {
    width: 100%;
  }
  .emailInput{
    padding: 1rem 1.75rem 1rem 0.75rem;
    font-size: 0.75rem;
  }
  .newsSubmit{
   padding: 1rem;
   font-size: 0.75rem;
  }
  .galleryBlock {
    padding: 5rem 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .galleryImage {
    width: 100%;
    padding-bottom: 2%;
  }
  .galleryBtn {
    top: 50%;
    left: 50%;
  }
  .location h3 {
    font-size: 1rem;
  }
  .contactTitle {
    font-size: 1rem;
  }
  .contactCard {
    font-size: small;
    margin-bottom: 1.1rem;
    padding: 0 1.5rem 0 0;
  }
  .location {
    padding: 0.5rem;
    top: 1rem;
    right: 1rem;
  }
  .servButomn {
    top: 5rem;
    left: 7rem;
  }
  .bannerTitle {
    font-size: 3.5rem;
    top: 50%;
    right: 50%;
  }
  .pageBanner{
  width: 100%;
  }
  .cardTitle, .blogTitle{
  font-size: 2.5rem;
  }
  .contentNews{
  width: 80%;
}
.newsBlock img{
  width: 100%;
}
.newsLetterHeading {
   padding-right: 1rem;
}
.clientData strong, .clientData li{
   font-size: 1rem; 
}
  .fourthContent {
    max-width: 100%;
  }
  .teamersCard {
    width: 24rem;
  }
  .secondText {
    font-size: 1.125rem;
  }
  .textTop {
    font-size: 1rem;
  }
  .simpleText,
  .contacts a,
  p,
  address,
  .footLink {
    font-size: small;
  }
  .list-unstyled {
    flex-direction: row;
  }
  .notfoundBlock{
    width: 100%;
  }
  .notFoundFirstImg{
    width: 100%;
  }
  .notFoundImg {
    width: 50%;
  }
  .notFoundText {
    width: 40%;
    top: 15%;
    right: 10%;
  }
  .notFoundText h4 {
    font-size: 1.56rem;
  }
  .notFoundText p {
    font-size: small;
  }
  .imgFluid {
    max-width: 100%;
  }
  .notfoundBtn {
    flex-direction: row;
    bottom: -41%;
    padding: 1rem 1.7rem;
    font-size: 0.75rem;
  }
  .garlicVector,
  .leavesVector,
  .forthVector,
  .thirdVector {
    display: none;
  }
  .firstSectionContact img{
    width: 100%;
  }
  .contactCard{
    padding-left: 1rem;
  }
}

